@import '../variable';

div.pagination{
    margin: 40px 0;
    width: 100%;
    @include flex(center,center);
    button{
        @include flex(center,center);
        background-color: #cecece;
        transition: all 0.3s;
        width: 35px;
        height: 35px;
        box-shadow: none !important;
        @include flex(center,center);
        &:hover{
            background-color: #e8e8e8;
        }
    }
}
.text-muted{
    pointer-events: none;
}