@import '../variable';

.button{
    background-color: transparent;
    border-width: 0;
    font-size: 1.3em;
    color: white;
    i{
        margin-right: 4px;
        position: relative;
    }
    span.basket-badge{
        position: absolute;
        right: 0;
        top: 0;
        transform: translate(50%,-50%);
        background-color: red;
        font-size: .6em;
        width: 17px;
        height: 17px;
        border-radius: 50%;
        @include flex(center,center)
    }
}